.wrapper {
  display: flex;
  min-height:100%;
}

.main,
.sidebar {
  ;
}

.main {
  background-color:#45a29e;
  width: 80%;
  min-height:100%;
  padding:10px;
}

.sidebar {
  line-height:250%;
  background-color:#17252a;
  color:#ffffff;
  height:100%;
  width: 20%;
  position:fixed;
  top: 0px;
  right:0;
  overflow-x:hidden; /* Disable horizontal scroll */
}

a.sidebar.link{
  color:inherit;
  text-decoration:none;
}

a.sidebar.link:hover{
  color:inherit;
  text-decoration:underline;
}

ul.sidebar_list{
  color:inherit;
}

div.sidebar_title{
  min-height:10%;
  text-align:center;
  margin-top:60px;
  height:10px;
}

span.sidebar_list{
  font-size:22px;
}

a{
  text-decoration:none;
  color:inherit;
}

a:hover{
  text-decoration:underline;
}

span.sidebar_title{
  color:#ffffff;
  position:relative;
  text-align:center;
  font-family:calibri;
  font-size:36px;
  margin:0;
}

div.sidebar_content{
  color:#ffffff;
  position:relative;
  margin-left:5%;
  line-height:400%;
}

ul{
  color:#ffffff;
  list-style-type:square;
  list-style-size
}

body {
  margin:0;
  font-family: sans-serif;
  height:100%;
}

#header{
  background-color: #17252a;
  width:100%;
  height:50px;
  text-align: center;
}

#footer{
  position:fixed;
  height:20px;
  width:100%;
  text-align: center;
  background-color: #17252a;
}
